<div class="container mt-4">
  <h2>Deine Ergebnisse</h2>
  <p>Klicke rechts auf den Pfeil, um eine Beschreibung zum jeweiligen Angebot zu erhalten.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Institution</th>
        <th></th> <!-- Spalte für den Pfeil -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredResults">
        <td>
          <div (click)="toggleDetails(item.ID)" class="name-link">
            <a [href]="item.URL" target="_blank">
              {{ item.Name }}
              <i class="bi bi-link-45deg" title="Zur Webseite"></i>
            </a>
          </div>
          <div *ngIf="isDetailsVisible(item.ID)" class="details mt-2">
            <p>Beschreibung: {{ item.Beschreibung }}</p>
            <p>Angebotsart:</p>
              <ul *ngIf="item.Arten && item.Arten.length > 0; else noArten">
                <li *ngFor="let art of item.Arten">{{ art }}</li>
              </ul>
              <ng-template #noArten>
                <p>Keine Arten verfügbar.</p>
              </ng-template>
          </div>
        </td>
        <td (click)="toggleDetails(item.ID)" class="text-center" style="cursor: pointer;">
          <i [class]="isDetailsVisible(item.ID) ? 'bi bi-chevron-up' : 'bi bi-chevron-down'" title="Mehr Informationen"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>