<header class="container-fluid bg-light p-3 border-bottom">
    <div class="row align-items-center">
      <!-- Logo links -->
      <div class="col-md-4 d-flex justify-content-start">
        <a href="https://www.tu.berlin/go237922/" target="_blank">
          <img src="./assets/logo_hor_studyguide_black.png" alt="TU Berlin Logo" class="img-fluid" style="max-width: 150px;" />
        </a>
      </div>
  
      <!-- Rechter Bereich: Sprache, Notrufnummer, Schriftgröße -->
      <div class="col-md-8 d-flex justify-content-end">
        <!-- Sprachwahl -->
        <div class="d-flex align-items-center me-3">
          <span (click)="setLanguage('DE')" class="me-2">DE</span>
          <span class="divider">|</span>
          <span (click)="setLanguage('EN')" class="ms-2">EN</span>
        </div>
  
        <!-- Notrufnummer Button -->
        <a href="./assets/Plakat-IchbraucheHilfe_Nothilfenummern.pdf" target="_blank" class="btn btn-danger d-flex align-items-center me-3">
          Nothilfennummer für Berlin <i class="bi bi-box-arrow-up-right ms-2"></i>
        </a>
  
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary" ngbDropdownToggle>
              Schriftgröße ändern 
            </button>
            <div ngbDropdownMenu>
              <button class="dropdown-item" (click)="changeFontSize('small')">Klein</button>
              <button class="dropdown-item" (click)="changeFontSize('large')">Groß</button>
            </div>
          </div>
          
      </div>
    </div>
  </header>
  