/*header {
  background-color: #f8f9fa;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

.dropdown-menu {
  min-width: 0;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
}

.bi-list {
  font-size: 24px;
}*/
