<div class="container" id="text1">
    <h1>Impressum & Datenschutz</h1>
    <p>Beschreibung des Impressums und der Datenschutzrichtlinien.</p>
  </div>
  <div class="container" id="person">
    <h5>Projektleiter</h5>
    <p>
      Stefan Hillmann <br>
      stefan.hillmann@tu-berlin.de 
    </p>
    <h5>Inhaltliche Verantwortung</h5>
    <p>
      Arlett Sommerfeld <br>
      Allgemeine Studienberatung, Abteilung Studierendenservice <br>
      arlett.sommerfeld@tu-berlin.de
    </p>
    <h5>Entwickler</h5>
    <p>
      Anna König <br>
      Fabian Schwarzenbolz<br>
      Matilda Freiheit,<br>
      Niklas J. M. Hoffmann,<br>
      Tom Rüger <br>
    </p>
  </div>
  <div class="container" id="haftung">
    <p>
      Weitere Informationen zur Datenschutzerklärung finden Sie <a href="https://www.tu.berlin/datenschutz" target="_blank">hier</a>.
    </p>
  </div>
  <div class="container mt-3">
    <button routerLink="/" class="btn btn-outline-primary">Zurück zur Startseite</button>
</div>
  