<div class="container">
    <h1>Kontakt</h1>
    <p>Falls Sie Fragen haben, wenden Sie sich bitte an uns.</p>
    <div class="container" id="person">
      <h5>Projektleiter</h5>
      <p>
        Stefan Hillmann <br>
        stefan.hillmann@tu-berlin.de 
      </p>
      <h5>Inhaltliche Verantwortung</h5>
      <p>
        Arlett Sommerfeld <br>
        Allgemeine Studienberatung, Abteilung Studierendenservice <br>
        arlett.sommerfeld@tu-berlin.de
      </p>
    </div>
  </div>
  <div class="container mt-3">
    <button routerLink="/" class="btn btn-outline-primary">Zurück zur Startseite</button>
</div>
  